apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "catalog-api.fullname" . }}
  labels:
    {{- include "catalog-api.labels" . | nindent 4 }}
  namespace: {{.Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "catalog-api.labels" . | nindent 6 }}
      {{- with .Values.podLabels }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "catalog-api.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          # {{- with .Values.livenessProbe }}
          # livenessProbe:
          #   {{- toYaml . | nindent 12 }}
          # {{- end }}
          # {{- with .Values.readinessProbe }}
          # readinessProbe:
          #   {{- toYaml . | nindent 12 }}
          # {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
          - name: ASPNETCORE_FORWARDEDHEADERS_ENABLED
            valueFrom:
              configMapKeyRef:
                name: {{ .Release.Name }}-configmap
                key: ASPNETCORE_FORWARDEDHEADERS_ENABLED 
          - name: ConnectionStrings__catalogdb
            valueFrom:
              secretKeyRef:
                name: {{ .Values.secretStore.secretName }}
                key: ConnectionStrings__catalogdb 
          - name: ConnectionStrings__eventbus
            valueFrom:
              secretKeyRef:
                name: {{ .Values.secretStore.secretName }}
                key: ConnectionStrings__eventbus                    
          - name: ASPNETCORE_ENVIRONMENT
            value: Development   
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}