apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-configmap
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "eventbus.labels" . | nindent 4 }}
data:
  {{- with .Values.env }}
  {{- toYaml . | nindent 2 }}
  {{- end }}