replicaCount: 1

image:
  repository: dahalsujata52897/webhooks-api
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

namespace: eshop

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  limits:
    cpu: 250m
    memory: 128Mi
  requests:
    # cpu: 200m
    # memory: 64Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

env:
  ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
  CallBackUrl: "http://webhooks-api.eshop.svc.cluster.local"
  Identity__Url: "https://identity-api.eshop.svc.cluster.local"

volumeMounts:

volumes: 

secretStore:
  secretName: kv-secrets