kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-configmap
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "webhooks-api.labels" . | nindent 4 }}
data:
  {{- with .Values.env }}
  {{- toYaml . | nindent 2 }}
  {{- end }} 