apiVersion: v1
kind: Service
metadata:
  name: {{ include "ordering-api.fullname" . }}
  labels:
    {{- include "ordering-api.labels" . | nindent 4 }}
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "ordering-api.selectorLabels" . | nindent 4 }}